@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}

:root {
  --bg-color: #040d12;
  --theme-main-1: #e14d2a;
  --theme-main-2: #279eff;
  --outline-color: #f0f0f0;
  --text-color: #ffffff;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
img {
  width: 25%;
  aspect-ratio: 2;
  margin-top: 1rem;
}
.content-container {
  width: 800px;
  height: 400px;
  border: 2px solid #f0f0f046;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-quote,
.right-quote {
  font-size: 5rem;
}
.left-quote {
  position: absolute;
  left: 10%;
  color: var(--theme-main-1);
}
.right-quote {
  position: absolute;
  right: 10%;
  bottom: 20%;
  color: var(--theme-main-2);
}
.content {
  position: absolute;
  top: 30%;
  width: 70%;
  line-height: 1.7;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}
.btn-group {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
}

.like,
.next {
  padding: 0.8rem 1.6rem;
  letter-spacing: 2px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  border: 3px solid #f0f0f046;
}
.like {
  background-color: var(--theme-main-2);
}
.next {
  background-color: var(--theme-main-1);
}

.add-to-fav {
  font-size: 0.7rem;
  background-color: var(--theme-main-2);
  padding: 0.5rem 0.3rem;
  border-radius: 7px;
  border: 2px solid #f0f0f046;
  position: absolute;
  top: -80%;
  left: -0.8%;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s all ease-in-out;
}
.active {
  opacity: 1;
  transform: scale(1);
}
.fav {
  margin-top: 5rem;
}
.fav h1 {
  color: var(--theme-main-1);
  letter-spacing: 3px;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
  text-shadow: 2px 2px var(--theme-main-2);
}

.fav-container {
  width: 800px;
  border: 2px solid #f0f0f046;
  border-radius: 1rem;
  padding: 2rem;
}
